In [4]:
import pandas as pd

# Parquet ファイルのパス
file_path = "test2.parquet"

# Parquet ファイルを読み込む
df = pd.read_parquet(file_path, engine="pyarrow")  # or engine="fastparquet"

# DataFrame を表示
print(df)

    name  id                                             x_list  \
0  test1   1  [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....
1  test1   2  [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....

                                              y_list  \
0  [10.0, 10.1, 10.2, 10.299999999999999, 10.3999...
1  [10.0, 10.1, 10.2, 10.299999999999999, 10.3999...

                                            yaw_list  \
0  [1.5707963267948966, 1.5707963267948966, 1.570...
1  [1.5707963267948966, 1.5707963267948966, 1.570...

                                      direction_list        cost
0  [True, True, True, True, True, True, True, Tru...  290.553531
1  [True, True, True, True, True, True, True, Tru...  290.553531

In [5]:
df.head()

,name,id,x_list,y_list,yaw_list,direction_list,cost
0,test1,1,"[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....","[10.0, 10.1, 10.2, 10.299999999999999, 10.3999...","[1.5707963267948966, 1.5707963267948966, 1.570...","[True, True, True, True, True, True, True, Tru...",290.553531
1,test1,2,"[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....","[10.0, 10.1, 10.2, 10.299999999999999, 10.3999...","[1.5707963267948966, 1.5707963267948966, 1.570...","[True, True, True, True, True, True, True, Tru...",290.553531

In [7]:
df[df["id"] == 2]

,name,id,x_list,y_list,yaw_list,direction_list,cost
1,test1,2,"[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10....","[10.0, 10.1, 10.2, 10.299999999999999, 10.3999...","[1.5707963267948966, 1.5707963267948966, 1.570...","[True, True, True, True, True, True, True, Tru...",290.553531